.comment-box {
  background: rgba(255,255,255,0.3);
  max-width: 100%;
  height: auto;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2),  inset 0 0 1px 0 rgba(255,255,255,1);
  margin:  0px 0px 20px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

p {
  margin: 0;
}

.url_small {
  font-size: 12px;
}

.message {
  font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  margin-top: 10px;
  background-color: white;
  word-wrap: break-word;
}