body > *:first-child {
  margin-top: 0 !important;
}

comment-box > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

comment-box > *:last-child {
  margin-bottom: 0 !important;
}