/slidinguppanel/build
/attiq/src/test
/attiq/src/androidTest
/attiq/proguard-rules.pro
/attiq/build
/Attiq.iml
/.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
