*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
/app/src/androidTest/
/app/src/test/
/app/build/
/app/libs/
/.idea/caches/
/.idea/gradle.xml
/.idea/markdown-navigator/
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/
