/.idea/inspectionProfiles
/signing.properties
/attiq/google-services.json
/slidinguppanel/build
/attiq/src/test
/attiq/src/androidTest
/attiq/proguard-rules.pro
/attiq/build
/Attiq.iml
/.idea/compiler.xml
/.idea/findbugs-idea.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/encodings.xml
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
