<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="im.ene.lab.attiq"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <supports-screens
        android:largestWidthLimitDp="600"
        android:requiresSmallestWidthDp="360"/>

    <application
        android:name=".Attiq"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Attiq.Theme.Light.NoActionBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AuthActivity"
            android:label="@string/activity_login"
            android:launchMode="singleTop"
            android:theme="@style/Attiq.Theme.Light"/>
        <activity
            android:name=".ui.activities.DeepLinkActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Attiq.Theme.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activities.ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:theme="@style/Attiq.Theme.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="qiita.com"
                    android:pathPattern="/.*/items/.*"
                    android:scheme="http"/>
                <data
                    android:host="qiita.com"
                    android:pathPattern="/.*/items/.*"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.TagItemsActivity"
            android:label="@string/title_activity_tag_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="qiita.com"
                    android:pathPattern="/tags/.*"
                    android:scheme="http"/>
                <data
                    android:host="qiita.com"
                    android:pathPattern="/tags/.*"
                    android:scheme="https"/>
                <data
                    android:host="qiita.com"
                    android:pathPattern="/tags/.*"
                    android:scheme="attiq"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.Light.NoActionBar.Profile">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="qiita.com"
                    android:pathPattern="/users/.*"
                    android:scheme="attiq"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:theme="@style/Attiq.Theme.Dark.NoActionBar.Translucent.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.Light.Setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.WebViewActivity"
            android:label="@string/app_name"
            android:theme="@style/Attiq.Theme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="helper.qiita.com"
                    android:scheme="attiq"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <service android:name="com.parse.PushService"/>

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE"/>
                <action android:name="com.parse.push.intent.DELETE"/>
                <action android:name="com.parse.push.intent.OPEN"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/attiq_parse_app_id"/>

        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/attiq_parse_client_key"/>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_stat_soup_bowl"/>

        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="@string/attiq_gcm_sender_id"/>;
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <service
            android:name=".services.ParseUserService"
            android:exported="false"/>

    </application>

</manifest>
