<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="im.ene.lab.attiq"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
        android:largestWidthLimitDp="600"
        android:requiresSmallestWidthDp="360"/>

    <application
        android:name=".Attiq"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Attiq.Theme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthActivity"
            android:label="@string/activity_login"
            android:launchMode="singleTop"
            android:theme="@style/Attiq.Theme"/>
        <activity
            android:name=".activities.DeepLinkActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Attiq.Theme.NoActionBar">

        </activity>

        <activity
            android:name=".activities.ItemDetailActivity"
            android:label="@string/title_activity_item_detail"
            android:theme="@style/Attiq.Theme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="qiita.com"
                    android:pathPattern="/.*/items/.*"
                    android:scheme="http"/>
                <data
                    android:host="qiita.com"
                    android:pathPattern="/.*/items/.*"
                    android:scheme="https"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TagItemsActivity"
            android:label="@string/title_activity_tag_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="qiita.com"
                    android:pathPattern="/tags/.*"
                    android:scheme="http"/>
                <data
                    android:host="qiita.com"
                    android:pathPattern="/tags/.*"
                    android:scheme="https"/>
                <data
                    android:host="qiita.com"
                    android:pathPattern="/tags/.*"
                    android:scheme="attiq"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/Attiq.Theme.Profile">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="qiita.com"
                    android:pathPattern="/users/.*"
                    android:scheme="attiq"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:theme="@style/Attiq.Theme.NoActionBar.Translucent.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.ene.lab.attiq.activities.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="helper.qiita.com"
                    android:scheme="attiq"/>

            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}"/>

    </application>

</manifest>
